
<!DOCTYPE html>
<html lang="en" ng-app="reddItApp">
  <head>
    <meta charset="utf-8">
    <title>Reddit Dashboard</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/dashboard.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.11/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-controller="reddItCtrl">
    <nav class="navbar navbar-inverse navbar-fixed-top" >
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Reddit Dashboard</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Clear</a></li>
          </ul>
          <form class="navbar-form navbar-right" ng-submit="search()">
            <input type="text" class="form-control" placeholder="Search..." ng-model="searchTerm">
          </form>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <h4>History</h4>
          <ul class="nav nav-sidebar" ng-repeat="hist in history track by $index" data-ng-init="init()">
            <li class="active"><a ng-click="deleteFromLocalStorage($index)" class="deletex">x</a><a ng-click="search(hist)">{{hist}}</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="sub-header">Featured Posts</h2>
          <div class="row placeholders" ng-repeat="post in postInfo | limitTo:4">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="{{post.thumbnail}}" class="img-responsive">
              <h4>{{post.title}}</h4>
              <span class="text-muted">{{post.author}}</span>
            </div>
          </div>
          <h2 class="sub-header">All Posts</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Ups</th>
                  <th>Title</th>
                  <th>IMG</th>
                  <th>Author</th>
                  <th>Comments</th>
                </tr>
              </thead>
              <tbody ng-repeat="post in postInfo track by $index">
                <tr>
                  <td>{{post.ups}}</td>
                  <td>{{post.title}}</td>
                  <td><img src="{{post.thumbnail}}"></td>
                  <td>{{post.author}}</td>
                  <td>{{post.num_comments}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
